<div class="jumbotron jumbotron-fluid pages_header">

  <div class="container">

    <h1 class="display-4"><%= @page_title %></h1>
    <p class="lead"><%= @page_text %></p>
    <%= jumbo_button_helper %>
    
  </div>
</div>