<div class="container">
	<h1>Components Index Page</h1>
	<h3>Links</h3>

	<%= link_to "Frames", frames_path  %>
	<br>
	<%= link_to "Wheels", wheels_index_path %>
	<br>
	<%= link_to "Chainset", chainsets_path  %>
</div>

